/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.date-uploaded {
  margin-top: 4px;
  font-size: 10px;
}