{% extends "base.html" %}
{% from "_macros.html" import file_data_form %}

{% block title %}Prepare CSV{% endblock %}

{% block content %}
<div class="d-flex">
    <h1>Images</h1>
    {% include "footage/file-actions.html" %}
</div>

<form id="image-list" action="/" method="GET" class="bg-white p-3 rounded">
    {{ form.hidden_tag() }}

    {% if images -%}
    {{ file_data_form(form, images) }}
    <div class="text-right mt-3 btn-container">
        <button id="csv-download" class="btn btn-outline-secondary" type="submit">Download CSV</button>
        {% if g.user %}
        <button id="save-files-btn" type="button" class="btn btn-outline-primary">Save Changes</button>
        {% endif %}
    </div>
    {% else -%}
    {% include "footage/no-images.html" %}
    {%- endif %}

    {% if session %}
    <p>{{ session["TEMP_USER_IMAGES"] }}</p>
    {% endif %}

</form>

{% endblock %}