{% extends "base.html" %}
{% from "_macros.html" import file_data_list %}

{% block title %}Prepare CSV{% endblock %}

{% block content %}
<div class="d-flex">
    <h1>Footage List</h1>
    <div class="btn-container ml-auto mt-auto">
        <a href="{{ url_for('bp_images.edit_images') }}"
            class=" btn btn-link text-muted btn-outline-none btn-sm h-50">Edit</a>|
        <button id="delete-all-btn" type="button" class="btn btn-link text-muted btn-outline-none btn-sm h-50">Remove
            All Images</button>
    </div>
</div>

<div id="footage-list-images" class="bg-white p-3 shadow-sm border rounded table-responsive">
    <table class="table table-hover w-100 table-sm m-auto text-sm">
        <thead>
            <tr>
                <th scope="col" class="file-list-filename-txt">Filename</th>
                <th scope="col">Description</th>
                <th scope="col" class="file-list-categories-txt">Categories</th>
                <th scope="col">Keywords</th>
                <th scope="col">Location</th>
                <th scope="col">Editorial</th>
                <th scope="col">Mature</th>
            </tr>
        </thead>

        {% if images -%}
        {{ file_data_list(images) }}
        <div class="text-right mt-3 btn-container">

        </div>
    </table>

    {% else -%}
    </table>

    {% include "no-images.html" %}
    {%- endif %}

</div>

{% endblock %}