<!-- File Form -->
{% macro file_data_form(form, images) %}
{% for image in images %}
<li id="{{ image.id }}" class="image-container">
    <div class="row justify-content-between">
        <div class="keywords-section-container col-6">
            <div class="form-group img-container">
                <img class="img-fluid" src="{{ image.thumbnail_url }}" alt="{{ image.filename }}">
                <p class="font-weight-light font-italic text-muted text-sm date-uploaded text-right">Uploaded:
                    {{ image.formated_date }}</p>
            </div>
            <div class="{{ image.id }}-keywords form-group">
                <div class="d-flex justify-content-between">
                    {{ form.keywords.label }}
                    <button type="button" id="reset-tags-{{ image.id }}"
                        class="tags--removeAllBtn text-muted btn-outline-light"><small>Remove All
                            Tags</small></button>
                </div>
                {{ form.keywords(class_="tagify--outside", value=image.keywords) }}
            </div>
        </div>
        <div class="image-info col-6">

            {{ field_template(form.filename, image, image.filename, "filename")}}
            {{ field_template(form.description, image, image.description, "description")}}
            {{ field_template(form.category1, image, image.category1, "category-1")}}
            {{ field_template(form.category2, image, image.category2, "category-2")}}

            <div class="form-group">
                <fieldset class="form-check form-check-inline mr-5" id="{{ image.id }}-editorial">
                    {{ form.editorial.label(class_="form-check-label") }}
                    {{ form.editorial(class_="form-check-input, ml-2",value=image.editorial) }}
                </fieldset>
                <fieldset class="form-check form-check-inline" id="{{ image.id }}-r-rated">
                    {{ form.r_rated.label(class_="form-check-label") }}
                    {{ form.r_rated(class_="form-check-input, ml-2",value=image.r_rated) }}
                </fieldset>
            </div>

            {{ field_template(form.location , image, image.location, "location")}}
            <div class="btn-container float-right">
                <button type="button" id="delete-btn-{{ image.id }}"
                    class="btn btn-sm text-muted btn-outline-light delete-button">Delete Image</button>
            </div>
        </div>
    </div>
    <hr class="mb-3 mt-2 d-block">
</li>
{% endfor %}
{% endmacro %}

<!-- Field Template -->
{% macro field_template(field, image, val, id) %}
<fieldset class="form-group" id="{{ image.id }}-{{ id }}">
    {{ field.label }}
    {{ field(class_="form-control", value=val) }}

    {% if field.errors %}
    <ul class="errors">
        {% for error in field.errors %}
        <li>{{ error }}</li>{% endfor %}
    </ul>
    {% endif %}
</fieldset>
{% endmacro %}