{% extends "base.html" %}
{% from "_macros.html" import file_data_form %}

{% block title %}Prepare CSV{% endblock %}

{% block content %}
<div class=d-flex>
    <h1>Images</h1>
    <button id="save-files-btn" type="button" class="btn btn-outline-success btn-sm">Save Images</button>
</div>

<form id="image-list" class="container" action="/" method="GET">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    {{ file_data_form(form, images=images)}}

    <div class="text-right btn-container">
        <button id="csv-download" class="btn btn-primary" type="submit">Download CSV</button>
        <a class="btn btn-outline-primary" href="/">Back</a>
    </div>
</form>

{% endblock %}