<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">Stock Footage Automator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="ml-auto navbar-nav">
            {% if not g.user %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="/">Upload</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('get_images') }}">Footage</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log out</a></li>
            <li class="nav-item"><span class="nav-link">|</span></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('user_profile') }}">{{ g.user.username }}</a></li>
            {% endif %}
        </ul>
    </div>
</nav>