{% extends "base.html" %}

{% block title %}Prepare CSV{% endblock %}

{% block content %}
<h1>Keywords:</h1>

<form class="container" method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <div class="row justify-content-between">
        <div class="keywords-section-container col-6">
            <div class="form-group">
                {{ form.keywords.label }}
                {{ form.keywords(class_="tagify--outside") }}
            </div>
        </div>
        <div class=" file-info col-6">
            <div class="form-group">
                {{ form.filename.label }}
                {{ form.filename(class_="form-control") }}
            </div>

            <div class="form-group">
                {{ form.description.label }}
                {{ form.description(class_="form-control") }}
            </div>

            <div class="form-group">
                {{ form.category1.label }}
                {{ form.category1(class_="form-control") }}
                {{ form.category2.label }}
                {{ form.category2(class_="form-control") }}
            </div>

            <div class="form-group">
                <div class="form-check form-check-inline">
                    {{ form.editorial.label }}
                    {{ form.editorial(class_="form-check-input") }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form.r_rated.label }}
                    {{ form.r_rated(class_="form-check-input") }}
                </div>
            </div>

            <div class="form-group">
                {{ form.location.label }}
                {{ form.location(class_="form-control") }}
            </div>
        </div>
    </div>
    <div class="btn-container">
        <button class="btn btn-primary" type="submit">Download CSV</button>
        <a class="btn btn-outline-primary" href="/">Back</a>
    </div>
</form>

{% endblock %}