{% extends "base.html" %}

{% block title %}Stock Footage Automator{% endblock %}

{% block content %}
{% if g.user -%}
<h1>Upload Media Files</h1>
<div id="dropzone" class="mb-3">
    <form id="upload-form" class="dropzone rounded" action="/">
        <div class="dz-default dz-message">
            <h1 style="color: #bbbbbb;"><i class="far fa-images fa-2x"></i></h1><br>
            <span class="text-muted d-block">Drop files here or click to upload</span>
            <span class="text-muted text-sm d-block font-italic">Files must be less than 16MB</span>
        </div>
    </form>
</div>
{% else %}
<h1>Demo</h1>
<div id="dropzone" class="mb-3">
    <form id="upload-form" class="dropzone rounded" action="/">
        <div class="dz-default dz-message">
            <h1 style="color: #bbbbbb;"><i class="far fa-images fa-2x"></i></h1><br>
            <span class="text-muted d-block">Drop file here or click to upload</span>
            <span class="text-muted text-sm d-block font-italic">File must be less than 16MB</span>
        </div>
    </form>
</div>
{% endif %}



{% if g.user -%}
<div class="d-flex justify-content-center">
    <a id="delete-uploaded-images" class="btn btn-outline-secondary mr-2 upload-btns" href="#">Remove All</a>
    <a class="btn btn-outline-primary ml-2 upload-btns" href="{{url_for('edit_images')}}">Prepare Files</a>
    {%- else %}
    <div class="justify-content-center text-center">
        <a class="btn btn-lg btn-outline-primary upload-btns" href="{{url_for('edit_images')}}">Prepare File</a>
        <p class="text-sm">Want to upload more? <a href="{{url_for('signup')}}">Create an
                account</a>
        </p>
        {% endif %}
    </div>
    {% endblock %}