{% extends 'base.html' %}

{% block title %}{{ g.user.username }} Information{% endblock %}

{% block content %}

<div class="row justify-content-md-center bg-white p-3 shadow-sm rounded border">
    <div class="col-md-7 col-lg-5">
        <div class="d-flex">
            <h2 class="join-message">Edit Profile:</h2>
            <button form id="delete-user"
                class="btn btn-outline-light text-muted btn-sm delete-user-btn ml-auto mt-auto"
                data-delete-user="{{ g.user.id }}" type="button">Delete Account</button>
        </div>
        <p class="text-muted text-sm font-italic">Created on: {{ g.user.formatted_date }}</p>
        <form method="POST" id="user_form" action="#">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field.label }}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}

            <div class="btn-container mt-3 text-right">
                <a class="btn btn-lg btn-secondary" href="{{ url_for('bp_images.get_images')}}">Cancel</a>
                <button class="btn btn-lg btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}