{% extends 'base.html' %}

{% block title %}Make Account{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2 class="join-message">Sign up</h2>

        <form method="POST" id="user_form" class="mb-2">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}

            <button class="btn btn-primary btn-lg btn-block">Sign Up</button>
        </form>
        <p class="text-center">Have an account? <a href="{{url_for("login")}}">Login here</a></p>
    </div>
</div>

{% endblock %}